body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.all-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product-item {
    padding: 20px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

.block-add-to-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.block-quantity {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-search {
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    box-sizing: border-box;
}